.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 830px) {
  .product-cards {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1rem;
    overflow-y: scroll;
  }
}
